#content-header {
    background: #2a8dd4;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    overflow: hidden;
}

#content-pagefooter {
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    overflow: hidden;
}

#content-main {
    background: #fff;
    position: fixed;
    top: 5px;
    left: 0;
    right: 0;
    bottom: 35px;
    overflow: auto;
}

#inspire-bot-iframe {
    height: 1000px;
}

.padding {
    padding: 15px;
}

.pageNumberDiv {
    padding: 5px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageAction {
    cursor: pointer;
}
.pageAction:hover{
    color: darkcyan;
}


#currentPage {
    padding: 3px;
    font-weight: bold;
}

.individualIcons {
    width: 52px;
    height: 52px;
    margin: 4px;
    cursor: pointer;
}

.keyword-selected{
    color: white;
    background-color: #3c3b3b;
    font-weight: bold;
    margin: 5px 8px 5px 5px;
    padding: 5px 20px 5px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.keyword-unselected {
    color: black;
    background-color: #b3aeae;
    margin: 5px 8px 5px 5px;
    padding: 5px 20px 5px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.buttonMain {
    color: white;
    background-color: #086fca;
    border-color: #086fca; 
    font-weight: bold;
    border-radius: 30px;
    border-width: 0;
    padding: 5px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.individualIconsContainer{
    display: flex;
    flex-wrap: wrap;
}
